@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.header {
    background-color: #02051E;
    color: white;
    height: auto;
    padding-bottom: 50px;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 45px;
}

.content {
    padding-bottom: 50px;
}

.description{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 25px;
}

@media (max-width: 600px) {
    .description {
        text-align: center;
        font-size: 35px;
    } 
 }