@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

.demo {
    background-color: #02051E;
    color: white;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 45px;
}

.small {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-weight: 300;
    font-size: 13px;
}

.space {
    height: 70px;
}

.editor {
    max-width: 575px;
    margin: auto;
    padding: 10px;
}

.footer {
    background-color: #01162B !important;
}