@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap');

.navbar {
    background-color: #02051E;
    color: white;
    height: 130px;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 35px;
    text-decoration: none !important;
    color: white !important;
    padding-top: 24px;
}

.subtitle {
    font-family: 'Jura', sans-serif;
    font-size: 13px;
    color: #F8E505;
}

.logo {
    height: 50px;
    width: auto;
}

.link {
    padding-left: 8.5px;
}

@media (max-width: 600px) {
    .title {
        text-align: center;
        font-size: 45px;
        padding-top: 10px;
        padding-bottom: 30px;
    }

    .link {
        padding-left: 0
    }
}


