@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.tab {
    background-color:#050A35;
    color: white;
    border-radius: 0px;
    display: inline-block;
}

.custom {
    border-radius: 0px;
    height: 42px;
    width: 125px;
    background-color: #050A35;
    color: white;
    font-size:18px;
}
