@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.tab {
    height: 40px;
    padding-top: 6px;
    margin-top: 2px;
    background-color:#282A36;
    color: white;
    border-radius: 0px;
    cursor: pointer;
    display: inline-block;
    box-shadow: 0 -1.7px 0 #FF79C6;
}

.tab input{
    font-family: 'Roboto Mono', monospace;
    background-color: #282A36;
    width: 125px;
    border: none;
    height: 40px;
    padding-bottom: 15px;
}