@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

.title {
    font-family: 'Roboto', sans-serif;
    font-size: 55px;
    font-weight: 400;
    padding-top: 50px;
}

.subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 30px;
}

.medium {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.small {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-weight: 300;
    font-size: 17px;
}

.border {
    height: 25px;
}

.spacer {
    height: 65px;
}   

@media(max-width: 600px) {
    .title {
        font-size: 40px;
    }

    .small {
        font-size: 20px;
    }

    .info {
        min-width: 90%;
    }

    .profile{
        width: 100%;
        height: auto;
        border-radius: 15px;
    }
}