@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap');

.landing {
    background-color: #02051E;
    color: white;
}

.header {
    margin-bottom: 75px;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 35px;
    text-decoration: none !important;
    color: white !important;
}

.description {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 37px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button {
    font-family: 'Roboto', sans-serif;
    background-color: #FF79C6;
    font-weight: 375;
    font-size: 27px;
    color: white;
    padding-top: 13px;
    padding-bottom: 13px;
}

.about {
    height: 100px;
}

@media (max-width: 600px) {
    .title {
        text-align: center;
        font-size: 45px;
        padding-top: 10px;
        padding-bottom: 30px;
    }
}