
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.react-codemirror2 .CodeMirror {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 20px 20px 5px rgba(0, 0, 0, 0.5);
}
